[submodule "shinedme-node"]
	path = shinedme-node
	url = git@github.com:shinedme/shinedme-node.git
[submodule "shinedme-account-helper"]
	path = shinedme-account-helper
	url = git@github.com:shinedme/shinedme-account-helper.git
[submodule "shinedme-frontend"]
	path = shinedme-frontend
	url = git@github.com:shinedme/shinedme-frontend.git
[submodule "affiliation-gateway"]
	path = affiliation-gateway
	url = git@github.com:shinedme/affiliation-gateway.git
[submodule "affiliation-worker"]
	path = affiliation-worker
	url = git@github.com:shinedme/affiliation-worker.git
